* {
    box-sizing: border-box;
    font-family: Switzer, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fcefe7;
    color: rgb(17, 17, 24);
    text-align: center;
    margin: 14em;
}

.display-title {
font-size: 14.8vw;
font-weight: 800;
height: 150.797px;
/* line-height: 150.812px; */
margin-bottom: 20px;
margin-top: 8px;
/* text-align: center; */
}

h2 {
font-size: 42px;
font-weight: 800;
height: 42px;
line-height: 42px;
margin-bottom: 20px;
margin-top: 8px;
/* text-align: center; */
}

.moved-page {
margin-bottom: 24px;
/* text-align: center; */
}

.back-to-home-btn {
color: rgb(255, 255, 255);
/* cursor: pointer; */
font-size: 20px;
height: 20px;
/* letter-spacing: -0.48px; */
line-height: 20px;
}

a {
background-color: rgb(17, 17, 24);
border-radius: 1019px;
box-sizing: border-box;
display: inline-block;
padding: 20px 32px;
text-decoration: none;
/* width: 224.922px; */
}

a:hover {
    transform: scale3d(1.1, 1.1, 1) ;
}